body {
  background-color: #fafafa;
}
.App {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  margin-top: 20px;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-animate {
  opacity: 0;
  animation: fadeOut 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  border-radius: 5px;
  overflow: hidden;
  height: 420px;
}

.tab-animate img {
  width: 100%;
  height: 100%;
}

.grid-image-container img {
  height: 130px;
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
}
